@import "styles/mixins.scss";
@import "styles/variables.scss";

.button {
  border-radius: 29px;
  width: 85px;
  height: 25px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: $view-btn-color;
  color: $view-btn-color;
  background-color: transparent;
  font-family: $primary-font;
}

.button:hover {
  @include button-active;

  color: $white;
  background-color: $view-btn-color;
}

.button--danger {
  color: $remove-btn-color;
  border-color: $remove-btn-color;
}

.button--danger:hover {
  color: $white;
  background-color: $remove-btn-color;
}

.button:focus {
  outline: none;
}
