@import "styles/mixins.scss";
@import "styles/variables.scss";

.button {
  border-radius: 29px;
  width: 85px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: $blue;
  color: $blue;
  background-color: transparent;
}

.button:hover {
  @include button-active;

  color: $white;
  background-color: $blue;
}

.button--danger {
  color: $danger-color;
  border-color: $danger-color;
}

.button--danger:hover {
  color: $white;
  background-color: $danger-color;
}

.button:focus {
  outline: none;
}
