@import "styles/variables.scss";

.card-footer {
  font-family: $primary-font;
  display: flex;
  background-color: $card-footer-bg;
  padding: 10px 0;
}

.card-footer p {
  font-size: 10px;
  color: $card-subtext;
  margin-right: 5px;
}
