@import "styles/variables.scss";

.card-footer {
  font-family: $primary-font;
  display: flex;
  background-color: $card-footer-bg;
  padding: 10px 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0 0 5px 5px;
}

.card-footer p {
  font-size: 10px;
  color: $card-subtext;
  margin-right: 5px;
}
